
.list-group-item{
    /* /* padding :5px;
    margin: 10px; */
    
    border:none;
  }
  .delete{
    color: rgb(249, 249, 249);
    background-color: rgb(13, 100, 223);
    padding: 3px;
    border-radius: 5px;
    display: inline;
    cursor: pointer;
  }
.details_delete{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border :1.5px solid black;
    margin: 10px;
    border-radius: 5px;
}