<div>
    <h2>Order Summary</h2>
    <p *ngIf="cartItems.length === 0">No items in cart.</p>
    <ul>
      <li *ngFor="let item of cartItems">
        <div class="food-item">
          <img [src]="item?.image" class="image" alt="Food Image"/>
          <div class="right">
              <div>
                  <h3>Name : {{ item.name }}</h3>
                  <p>Price :  ₹ {{ (item.price*82 ).toFixed(2)}}</p>
                  <p>Size : {{ item.size }}</p>
                  <p>Shop : {{ item.shop }}</p>
              </div>
      </div>
        </div>
      </li>

    </ul>
  </div>